.info-header {
	height: 1.17333rem /* 88/75 */;
	// padding: 0 0.4rem /* 30/75 */;
	padding-left: 0;
	line-height: 1.17333rem /* 88/75 */;
	font-size: 0.48rem;
	background-color: #151515;
	color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	.spans {
		font-size: 0.48rem;
		position: relative;
		img {
			position: absolute;
			top: 0.24rem;
		}
	}
}
.imgsbank {
	width: 0.26667rem /* 20/75 */;
	display: block;
	.spans {
		.imgsbank {
			left: 0.13333rem !important; /* 10/75 */
			width: 0.46667rem /* 35/75 */;
			// top: 0.4rem /* 30/75 */;
			width: 0.26667rem /* 20/75 */;
			top: 0.25rem /* 15/75 */ !important;
		}
	}
	.spansright {
		position: absolute;
		right: 0.66667rem /* 50/75 */;
		top: 0.2rem /* 15/75 */;
		.imgsbank {
			width: 0.53333rem /* 40/75 */;
		}
	}
	//   margin-top: -0.26667rem /* 20/75 */;
}
.btns {
	padding: 0.2rem /* 15/75 */;
}
.pk-form-content {
	background-color: #fff;
	.gb-stressed {
		padding-left: 0.26667rem;
		background-color: #f2f2f2;
		height: 0.81333rem /* 61/75 */;
		line-height: 0.81333rem /* 61/75 */;
		p {
			color: #999999;
			font-size: 0.32rem /* 24/75 */;
			margin-bottom: 0;
			i {
				display: inline-block;
				width: 0.74667rem /* 56/75 */;
				height: 0.16rem /* 12/75 */;
				background-color: #999999;
				border-radius: 0.08rem /* 6/75 */;
				margin-right: 0.10667rem /* 8/75 */;
				&.active {
					background-color: #1766bb;
				}
			}
		}
	}

	.pk-input {
		position: relative;
		display: flex;
		padding: 0 0.26667rem /* 20/75 */;
		height: 1.06667rem /* 80/75 */;
		justify-content: space-between;
		font-size: 0.32rem /* 24/75 */;
		color: #141414;
		align-items: center;
		&::after {
			content: " ";
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			height: 1px /* 1/75 */;
			border-bottom: 1px /* 1/75 */ solid $inputbotline-color;
			-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
			-webkit-transform: scaleY(0.5);
			transform: scaleY(0.5);
		}
		.el-input {
			width: 100%;
			position: relative;
			input {
				width: 100%;
				height: 1.06667rem /* 80/75 */;
				border: none;
				text-align: right;
				background-color: #fff;
			}
		}
	}
}
.mgb30 {
	margin-bottom: 0.4rem; /* 30/75 */
}

.pk-1px-t {
	&:before {
		content: " ";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		height: 1px;
		border-top: 1px solid $inputbotline-color;
		color: $inputbotline-color;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-webkit-transform: scaleY(0.5);
		transform: scaleY(0.5);
	}
}

.pk-1px-b:after {
	content: " ";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 1px;
	border-bottom: 1px solid $inputbotline-color;
	color: $inputbotline-color;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}
.pk-2px-b:after {
	content: " ";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 0.02667rem /* 2/75 */;
	border-bottom: 0.02667rem /* 2/75 */ solid $inputbotline-color;
	color: $inputbotline-color;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}
.pk-1px-l:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	bottom: 0;
	border-left: 1px solid $inputbotline-color;
	color: $inputbotline-color;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleX(0.5);
	transform: scaleX(0.5);
}

.pk-1px-r:after {
	content: " ";
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	bottom: 0;
	border-right: 1px solid $inputbotline-color;
	color: $inputbotline-color;
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transform: scaleX(0.5);
	transform: scaleX(0.5);
}

.pk-1px-tb:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 1px;
	border-top: 1px solid $inputbotline-color;
	color: $inputbotline-color;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}

.pk-1px-tb:after {
	content: " ";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 1px;
	border-bottom: 1px solid $inputbotline-color;
	color: $inputbotline-color;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}
.notice-list {
	margin: 0;
    padding: 0.26667rem /* 20/75 */;
    box-sizing: border-box;
	.noticeGamePartial {
		li {
            margin-bottom: 0.26667rem /* 20/75 */;
            &.mint-cell-value{
                .i{
                    p{
                        padding-right: 1.0667rem;
                        box-sizing: border-box;
                    }
                }
            }
			.i {
				border: 1px solid #e2e2e2;
				background-color: #fff;
				padding: 0.26667rem /* 20/75 */;
                position: relative;
                .title{
                    position: absolute;
                }
				.ct {
					p {
						text-align: left;
						line-height: 1.5em;
						color: #333333;
						margin: 0.26667rem /* 20/75 */;
						font-size: 0.33333rem /* 25/75 */;
					}
				}
				p {
					text-align: right;
					color: #999999;
					font-size: 0.29333rem /* 22/75 */;
					margin-bottom: 0;
				}
			}
		}
	}
}
.mgb20 {
	margin-bottom: 0.26667rem /* 20/75 */;
}
.mgb22 {
	margin-bottom: 0.29333rem;
}
.pull-width {
	width: 100%;
}
.hasline {
	text-decoration: underline;
}
.pad0 {
	padding: 0 !important;
}
.noline {
	text-decoration: none !important;
}
