$primary-color: #1c75db;
$normal-color: #848484;
$link-color: $primary-color;
$link-hover-color: mix($link-color, #000, 80%);
$title-color: #2D2D2D;
$text-color: #333;
$light-color: #F6F6F6;
$dark-color: #DADADA;


$color-a: #ff0000;
$color-b: #f00a38; /*大转盘*/
$color-c: #e60012; /*钱包*/
$color-d: #eb1d1d;
$color-e: #f4224c; /*大转盘*/
$color-f: #f53045; /*红包弹窗*/
$color-g: #f62f56;
$color-h: #ff3e2e; /*红包弹窗*/
$color-i: #ff3b30;
$color-j: #fc5576; /*大转盘*/
$color-k: #ff4857; /*大转盘*/
$color-l: #fa466a; /*大转盘*/

$color-m: #ff4200; /*大转盘*/
$color-n: #fc4e02; /*活动*/
$color-o: #F97526; /*活动*/
$color-p: #f78e27;
$color-q: #ECB341; /*活动*/
$color-r: #f19149; /*钱包*/
$color-s: #ffd987; /*红包*/
$color-t: #fedbc6; /*大转盘*/
$color-u: #ffeee4; /*大转盘*/



$color-v: #ad5da1; /*钱包*/
$color-w: #8976cc;
$color-x: #7c71ab;

$color-y: #add9cc;
$color-z: #00b7ee; /*钱包*/
$color-A: #39dceb; /*钱包*/

$color-B: #252232;
$color-C: #323233;
$color-D: #333333;
$color-E: #343152;
$color-F: #353355;

$color-G: #38364d;
$color-H: #636986; /*没有定义I*/
$color-J: #646466;
$color-K: #818181;
$color-L: #8a9994;
$color-M: #969699;
$color-N: #a0a0a0;
$color-O: #c7c7cc;
$color-P: #c8c8cc;
$color-Q: #f0f0f5;
$color-R: #f5f5f5;
$color-S: #f5f5fa;
$color-T: #988dcc;
$color-U: #353147;
$color-V: #726a99;
$color-W: #cccccc;
$color-X: #595959;

$color-Y: #a3629e;
$color-Z: #a58bb9;

$color-other-a: #da70a0;
$color-other-b: #1b4797;
$color-other-c: #94cac8;
$color-other-d: #30303e;
$color-other-e: #6b6680;
$color-other-f: #8a87ad;
$color-other-g: #fde909;
$color-other-h: #2e2a3d;
$color-other-i: #ffad84;
$color-other-j: #ff8d3a;
$color-other-k: #1201d5;
$color-other-l: #464ff4;
$color-other-m: #656b79;
$color-other-n: #fbfbfb;
$color-other-o: #f2f4fa;

$color-other-888: #888;



$color-rgab-black: rgba(0, 0, 0, 0.1);
$color-rgab-black2: rgba(0, 0, 0, 0.2);
$color-rgab-black3: rgba(0, 0, 0, 0.3);
$color-rgab-black4: rgba(0, 0, 0, 0.4);
$color-rgab-black5: rgba(0, 0, 0, 0.5);
$color-rgab-black6: rgba(0, 0, 0, 0.6);
$color-rgab-black7: rgba(0, 0, 0, 0.7);
$color-rgab-black8: rgba(0, 0, 0, 0.8);

$color-rgab-a2: rgba(167, 163, 229, 0.2);
$color-rgab-a4: rgba(167, 163, 229, 0.4);


$color-rgab-b2: rgba(162, 100, 85, 0.2);


$color-rgab-c3: rgba(0,216,151,0.3);

$color-rgab-d3: rgba(255, 223, 96, 0.3);


/*//------问卷*/
$color-qs-wt:#ff321d;
$color-qs-yt:#009944;


/*新定义的*/
$color-primary:#1c75db;
$default-color:#fff;
$nondefault-color:#000;

/*默认背景颜色*/
$default-bg-color:#efefef;
/*提示文字颜色*/
$tip-color:#666;
/*边框颜色*/
$border-color:#e6e6e6;
/*边框选中颜色*/
$border-color-active:#1766bb;
/*label颜色*/
$label-color:#999;
/*title颜色*/
$title-color:#292929;
/*placeholder颜色*/
$placeholder-color:#ccc;
/*推荐recommend*/
$recommend-bg: #08081c;
$rec-border-color: #ddd;
$yellow-color: #f09402;
$lowgreen-color: #e4f7e7;
$lowblue-color: #e4ebf7;
$green-color: green;
/*more*/
$bluebtn-color: #489ef6;
/*自助优惠申请*/
$tabtit-color: #317fc2;
$bluebtnlow-color: #a7c6e1;
/* must */
$must-color:#b01313;

/*form表单input下边框颜色*/
$inputbotline-color: #999;
/*form背景*/
$forminput-color: #f2f2f2;
/*register-agreement*/
$register-agreement:#1F67B9;
/*注册复选框 默认背景 */
$register-default-agreement:#D1CFCF;
/*登录 输入框边框颜色 */
$login-border-color:#bbb;
/*首页登录注册按钮*/
$index-login-btn-bg:#1dc28e;
$index-register-btn-bg:#f0af01;
/*首页域名背景*/
$index-domain-bg:#252525;
/* 首页banner背景*/
$index-banner-bg:#151515;
$index-banner-download-bg:rgba(51, 51, 51, 0.9);
/*首页滚动公告label背景*/
$index-noticebar-bg:#168df6;
$index-noticebar-text:#1279d9;
/*首页左侧菜单背景*/
$index-menu-bg:#444;
/*首页左侧菜单active*/
$index-menu-active:#445dc2;
/*首页左侧菜单登录-- 个人中心按钮背景*/
$index-menu-toMy-bg:#31955e;
/*首页快捷额度转换背景*/
$index-changeMoney-mask:rgba(0,0,0,.7);
$index-changeMoney-money:#FFC000;
$index-changeMoney-bg:#515151;
$index-changeMoney-border:#888888;
$index-changeMoney-gameList-bg:#343434;
$index-changeMoney-gameList-color:#999;
$index-changeMoney-gameList-border:#3E3E3E;
$index-changeMoney-gameList-btn1:#2377D6;
$index-changeMoney-gameList-btn2:#28BD95;
$index-game-type-bg1:#282828;
$index-game-type-active:#454545;
/*推广所用背景*/
$prompt-bg: #f0f0f5;
/*推广蓝色*/
$prompt-blue: #3a74d2;
$prompt-smalltit: #646466;
$prompt-tongji-yellow: #ff8d38;
$prompt-tongji-blue: #00b7ee;

/*安全中心*/
$center-unbind:#1766BB;
$center-background:#dedede;
/*关于我们-文本颜色*/
$about-color:#141414;
/*银行卡文本颜色*/
$bank-card-color:#aeaeae;



/*投注记录背景色*/
$bet-record-bg: #F9F9F9;
/*投注隔离边框*/
$bet-record-bdr: #F4F5F6;

/*资金记录*/
$processing-color: #FAB592;/*处理中*/
$success-color: #C9B1F7;/*处理中*/
$fail-color: #A5E1F7;/*处理中*/
$poptit-color: #F83B51;
